.tabwindow__nav, .wrap, .row__main { *zoom: 1; }
.tabwindow__nav:before, .wrap:before, .row__main:before, .tabwindow__nav:after, .wrap:after, .row__main:after { content: " "; display: table; }
.tabwindow__nav:after, .wrap:after, .row__main:after { clear: both; }

.chosen-container { position: relative; display: inline-block; vertical-align: middle; font-size: 13px; zoom: 1; *display: inline; -webkit-user-select: none; -moz-user-select: none; user-select: none; }

.chosen-container .chosen-drop { position: absolute; margin-top: 15px; top: 100%; left: -9999px; z-index: 1010; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; width: 100%; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; background: #f7f7f7; border: 1px solid #c8c8c8; -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2); box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2); }
.chosen-container .chosen-drop:before, .chosen-container .chosen-drop:after { content: ""; position: absolute; width: 0px; height: 0px; border-style: solid; }
.chosen-container .chosen-drop:before { top: -9px; left: 17px; border-width: 0 7px 10px 7px; border-color: transparent transparent #f7f7f7 transparent; z-index: 2; }
.chosen-container .chosen-drop:after { top: -10px; left: 16px; border-width: 0 8px 10px 8px; border-color: transparent transparent #c8c8c8 transparent; }

.chosen-container.chosen-with-drop .chosen-drop { left: 0; }

.chosen-container a { cursor: pointer; }

.chosen-container-single .chosen-single { display: block; position: relative; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0; padding: 0; width: 100%; height: 32px; line-height: 32px; border: 1px solid #d5d5d5; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; background: white; -webkit-box-shadow: inset 0 1px 1px rgba(0, 1, 1, 0.05); -moz-box-shadow: inset 0 1px 1px rgba(0, 1, 1, 0.05); box-shadow: inset 0 1px 1px rgba(0, 1, 1, 0.05); }
.chosen-container-single .chosen-single:after { content: ""; position: absolute; top: 50%; margin-top: -3px; right: 10px; width: 0px; height: 0px; border-style: solid; border-width: 7px 4px 0 4px; border-color: #b0b0b0 transparent transparent transparent; }

.chosen-container-single .chosen-default { color: #999999; }

.chosen-container-single .chosen-single span { display: block; overflow: hidden; padding: 0 5px; margin-right: 26px; text-overflow: ellipsis; white-space: nowrap; }

.chosen-container-single .chosen-single-with-deselect span { margin-right: 38px; }

.chosen-container-single .chosen-single abbr { position: absolute; top: 6px; right: 26px; display: block; width: 12px; height: 12px; background: url("../img/chosen-sprite.png") -42px 1px no-repeat; font-size: 1px; }

.chosen-container-single .chosen-single abbr:hover { background-position: -42px -10px; }

.chosen-container-single.chosen-disabled .chosen-single abbr:hover { background-position: -42px -10px; }

.chosen-container-single .chosen-single div { position: absolute; top: 0; right: 0; display: block; width: 18px; height: 100%; }

.chosen-container-single .chosen-search { position: relative; z-index: 1010; margin: 0; padding: 3px 4px; white-space: nowrap; }
.chosen-container-single .chosen-search:after { content: ""; position: absolute; top: 50%; right: 10px; margin-top: -7px; background: url('../img/icons-s4efdc03548.png') 0 -126px no-repeat; width: 15px; height: 15px; }

.chosen-container-single .chosen-search input[type="text"] { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 5px; width: 100%; height: 32px; border: 1px solid #d5d5d5; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; background: white; -webkit-box-shadow: inset 0 1px 1px rgba(0, 1, 1, 0.05); -moz-box-shadow: inset 0 1px 1px rgba(0, 1, 1, 0.05); box-shadow: inset 0 1px 1px rgba(0, 1, 1, 0.05); }
.chosen-container-single .chosen-search input[type="text"]:focus { border: 1px solid #aacdda; background: #bfe5f3; outline: none; }

.chosen-container-single .chosen-drop { top: 33px; border-radius: 0 0 4px 4px; background-clip: padding-box; }
.chosen-container-single .chosen-drop .active-result { position: relative; padding-left: 30px; }
.chosen-container-single .chosen-drop .active-result.result-selected { background: #2cabdc; color: white; }
.chosen-container-single .chosen-drop .active-result.result-selected:before { content: ""; position: absolute; left: 9px; top: 50%; margin-top: -6px; background: url('../img/icons-s4efdc03548.png') 0 -248px no-repeat; width: 12px; height: 11px; }

.chosen-container-single.chosen-container-single-nosearch .chosen-search { position: absolute; left: -9999px; }

.chosen-container .chosen-results { position: relative; overflow-x: hidden; overflow-y: auto; max-height: 240px; text-align: left; -webkit-overflow-scrolling: touch; }

.chosen-container .chosen-results li { display: none; margin: 0; padding: 8px 6px; list-style: none; line-height: 15px; }
.chosen-container .chosen-results li:hover { background: #2cabdc; color: white; }

.chosen-container .chosen-results li.active-result { display: list-item; cursor: pointer; position: relative; padding-left: 30px; }

.chosen-container-multi .chosen-results li.active-result:before { content: ""; position: absolute; left: 6px; top: 50%; margin-top: -8px; width: 16px; height: 16px; border: 1px solid #d5d5d5; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; background: white; -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.07); -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.07); box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.07); }

.chosen-container .chosen-results li.disabled-result { display: list-item; color: #cccccc; cursor: default; }

.chosen-container .chosen-results li.highlighted { background: #2cabdc; color: white; }

.chosen-container .chosen-results li.no-results { display: list-item; background: #f4f4f4; }

.chosen-container .chosen-results li.group-result { display: list-item; font-weight: bold; cursor: default; }

.chosen-container .chosen-results li.group-option { padding-left: 15px; }

.chosen-container .chosen-results li em { font-style: normal; text-decoration: underline; }

.chosen-container-multi .chosen-choices { position: relative; overflow: hidden; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0; padding: 0; width: 100%; padding-right: 20px; height: auto !important; min-height: 32px; border: 1px solid #d5d5d5; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; background: white; -webkit-box-shadow: inset 0 1px 1px rgba(0, 1, 1, 0.05); -moz-box-shadow: inset 0 1px 1px rgba(0, 1, 1, 0.05); box-shadow: inset 0 1px 1px rgba(0, 1, 1, 0.05); }

.chosen-container-multi .chosen-choices li { list-style: none; text-align: left; }

.chosen-container-multi .chosen-choices li.search-field { margin: 0; padding: 0; white-space: nowrap; }

.chosen-container-multi .chosen-choices li.search-field input[type="text"] { margin: 1px 0; padding: 5px; height: 15px; outline: 0; border: 0 !important; background: transparent !important; box-shadow: none; color: #666666; font-size: 100%; font-family: sans-serif; line-height: normal; border-radius: 0; }

.chosen-container-multi .chosen-choices li.search-field .default { color: #999999; padding-right: 20px; }

.chosen-container-multi .chosen-choices li.search-choice { float: left; position: relative; margin: 5px 0 5px 5px; padding: 3px 20px 3px 5px; border: 1px solid #aaaaaa; border-radius: 3px; background-color: #e4e4e4; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee)); background-image: -webkit-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%); background-image: -moz-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%); background-image: -o-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%); background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%); box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0); color: #333333; line-height: 13px; cursor: default; }
.chosen-container-multi .chosen-choices li.search-choice span { display: inline-block; }

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close { position: absolute; top: 4px; right: 3px; display: block; width: 12px; height: 12px; background: url("../img/chosen-sprite.png") -42px 1px no-repeat; font-size: 1px; }

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover { background-position: -42px -10px; }

.chosen-container-multi .chosen-choices li.search-choice-disabled { padding-right: 5px; border: 1px solid #cccccc; background-color: #e4e4e4; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee)); background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%); background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%); background-image: -o-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%); background-image: linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%); color: #666666; }

.chosen-container-multi .chosen-choices li.search-choice-focus { background: #d4d4d4; }

.chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close { background-position: -42px -10px; }

.chosen-container-multi .chosen-results { padding: 0; }

.chosen-container-multi .chosen-drop .result-selected { display: list-item; color: white; cursor: default; padding-left: 30px; background: #2cabdc; position: relative; }
.chosen-container-multi .chosen-drop .result-selected:before { content: ""; position: absolute; left: 6px; top: 50%; margin-top: -8px; width: 16px; height: 16px; border: 1px solid #d5d5d5; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; background: white; -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.07); -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.07); box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.07); }
.chosen-container-multi .chosen-drop .result-selected:after { content: ""; position: absolute; top: 50%; margin-top: -5px; left: 10px; background: url('../img/icons-s4efdc03548.png') 0 -226px no-repeat; width: 12px; height: 12px; }

.chosen-container-active .chosen-single { background: #bfe6f4; border: 1px solid #abceda; }
.chosen-container-active .chosen-single:after { border-color: #2caadc transparent transparent transparent; }

.chosen-container-active.chosen-with-drop .chosen-single div { border-left: none; background: transparent; }

.chosen-container-active.chosen-with-drop .chosen-single div b { background-position: -18px 2px; }

.chosen-container-active .chosen-choices { position: relative; overflow: hidden; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0; padding: 0 20px 0 0; width: 100%; height: auto !important; min-height: 32px; border: 1px solid #abceda; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; background: #bfe6f4; -webkit-box-shadow: inset 0 1px 1px rgba(0, 1, 1, 0.05); -moz-box-shadow: inset 0 1px 1px rgba(0, 1, 1, 0.05); box-shadow: inset 0 1px 1px rgba(0, 1, 1, 0.05); cursor: text; }

.chosen-container-active .chosen-choices li.search-field input[type="text"] { color: #111111 !important; }

.chosen-disabled { opacity: 0.5 !important; cursor: default; }

.chosen-disabled .chosen-single { cursor: default; }

.chosen-disabled .chosen-choices .search-choice .search-choice-close { cursor: default; }

.chosen-rtl { text-align: right; }

.chosen-rtl .chosen-single { overflow: visible; padding: 0 8px 0 0; }

.chosen-rtl .chosen-single span { margin-right: 0; margin-left: 26px; direction: rtl; }

.chosen-rtl .chosen-single-with-deselect span { margin-left: 38px; }

.chosen-rtl .chosen-single div { right: auto; left: 3px; }

.chosen-rtl .chosen-single abbr { right: auto; left: 26px; }

.chosen-rtl .chosen-choices li { float: right; }

.chosen-rtl .chosen-choices li.search-field input[type="text"] { direction: rtl; }

.chosen-rtl .chosen-choices li.search-choice { margin: 5px 5px 3px 0; padding: 3px 5px 3px 19px; }

.chosen-rtl .chosen-choices li.search-choice .search-choice-close { right: auto; left: 4px; }

.chosen-rtl.chosen-container-single-nosearch .chosen-search, .chosen-rtl .chosen-drop { left: 9999px; }

.chosen-rtl.chosen-container-single .chosen-results { margin: 0 0 4px 4px; padding: 0 4px 0 0; }

.chosen-rtl .chosen-results li.group-option { padding-right: 15px; padding-left: 0; }

.chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div { border-right: none; }

.chosen-rtl .chosen-search input[type="text"] { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 5px; width: 100%; height: 32px; border: 1px solid #d5d5d5; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; background: white; -webkit-box-shadow: inset 0 1px 1px rgba(0, 1, 1, 0.05); -moz-box-shadow: inset 0 1px 1px rgba(0, 1, 1, 0.05); box-shadow: inset 0 1px 1px rgba(0, 1, 1, 0.05); direction: rtl; }
.chosen-rtl .chosen-search input[type="text"]:focus { border: 1px solid #aacdda; background: #bfe5f3; outline: none; }

.chosen-rtl.chosen-container-single .chosen-single div b { background-position: 6px 2px; }

.chosen-rtl.chosen-container-single.chosen-with-drop .chosen-single div b { background-position: -12px 2px; }

.chosen-container a { text-decoration: none; color: #999999; text-align: left; }

.ui-multiselect { position: relative; overflow: hidden; padding: 2px 0 2px 4px; text-align: left; width: 100% !important; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding-right: 20px; min-height: 32px; border: 1px solid #d5d5d5; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; background: white; -webkit-box-shadow: inset 0 1px 1px rgba(0, 1, 1, 0.05); -moz-box-shadow: inset 0 1px 1px rgba(0, 1, 1, 0.05); box-shadow: inset 0 1px 1px rgba(0, 1, 1, 0.05); }
.ui-multiselect:focus, .ui-multiselect:active { outline: none; }
.ui-multiselect.ui-state-active { background: #bfe6f4; }
.ui-multiselect.ui-state-active span.ui-icon { background: url('../img/icons-s4efdc03548.png') 0 -296px no-repeat; width: 8px; height: 17px; }

.ui-multiselect span.ui-icon { position: absolute; top: 50%; right: 10px; margin-top: -8px; background: url('../img/icons-s4efdc03548.png') 0 -269px no-repeat; width: 8px; height: 17px; }

.ui-multiselect-single .ui-multiselect-checkboxes input { position: absolute !important; top: auto !important; left: -9999px; }

.ui-multiselect-single .ui-multiselect-checkboxes label { padding: 5px !important; }

.ui-multiselect-header ul { font-size: 0.9em; }

.ui-multiselect-header ul li { float: left; padding: 0 10px 0 0; }

.ui-multiselect-header a { text-decoration: none; }

.ui-multiselect-header a:hover { text-decoration: underline; }

.ui-multiselect-header span.ui-icon { float: left; }

.ui-multiselect-header li.ui-multiselect-close { float: right; text-align: right; padding-right: 0; }

.ui-multiselect-menu { display: none; position: absolute; z-index: 10000; text-align: left; margin-top: 15px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; width: 100%; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; background: #f7f7f7; border: 1px solid #c8c8c8; -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2); box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2); }
.ui-multiselect-menu:before, .ui-multiselect-menu:after { content: ""; position: absolute; width: 0px; height: 0px; border-style: solid; }
.ui-multiselect-menu:before { top: -9px; left: 17px; border-width: 0 7px 10px 7px; border-color: transparent transparent #f7f7f7 transparent; z-index: 2; }
.ui-multiselect-menu:after { top: -10px; left: 16px; border-width: 0 8px 10px 8px; border-color: transparent transparent #c8c8c8 transparent; }

.ui-multiselect-checkboxes { position: relative; overflow-y: auto; list-style: none; max-height: 240px; height: auto !important; }

.ui-multiselect-checkboxes label { cursor: default; display: block; border: 1px solid transparent; padding: 3px 1px; }

.ui-multiselect-checkboxes label { display: block; cursor: pointer; position: relative; padding: 6px 5px 6px 30px; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.ui-multiselect-checkboxes label input { position: absolute; left: 6px; top: 50%; margin-top: -8px; width: 17px; height: 17px; opacity: 0; z-index: 2; }
.ui-multiselect-checkboxes label input:checked + span:before { display: block; }
.ui-multiselect-checkboxes label span:before { display: none; content: ""; position: absolute; top: 50%; left: 10px; margin-top: -5px; background: url('../img/icons-s4efdc03548.png') 0 -226px no-repeat; width: 12px; height: 12px; z-index: 2; }
.ui-multiselect-checkboxes label span:after { content: ""; position: absolute; top: 50%; left: 6px; margin-top: -8px; width: 16px; height: 16px; border: 1px solid #d5d5d5; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; background: white; -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.07); -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.07); box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.07); }

.ui-multiselect-checkboxes li { display: list-item; }
.ui-multiselect-checkboxes li:hover { background: #2cabdc; color: white; }

.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label { text-align: center; font-weight: bold; border-bottom: 1px solid; }

.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label a { display: block; padding: 3px; margin: 1px 0; text-decoration: none; }

.ui-multiselect-hasfilter ul { position: relative; top: 2px; }

.ui-multiselect-filter { font-size: 0; position: relative; margin: 6px; }
.ui-multiselect-filter:after { content: ""; position: absolute; top: 50%; margin-top: -7px; right: 10px; background: url('../img/icons-s4efdc03548.png') 0 -101px no-repeat; width: 15px; height: 15px; }

.ui-multiselect-filter input { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 5px 30px 5px 5px; width: 100%; height: 32px; border: 1px solid #d5d5d5; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; font-size: 12px; background: white; -webkit-box-shadow: inset 0 1px 1px rgba(0, 1, 1, 0.05); -moz-box-shadow: inset 0 1px 1px rgba(0, 1, 1, 0.05); box-shadow: inset 0 1px 1px rgba(0, 1, 1, 0.05); }
.ui-multiselect-filter input::-webkit-search-cancel-button { margin-right: 0; }
.ui-multiselect-filter input:focus { border: 1px solid #aacdda; background: #bfe5f3; outline: none; color: black; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
button::-moz-focus-inner { padding: 0; border: 0; }

input[type="submit"]::-moz-focus-inner { padding: 0; border: 0; }

body { font-family: Tahoma, sans-serif; font-weight: normal; font-size: 12px; min-width: 960px; line-height: 1.4; }

textarea, input { font-family: Tahoma, sans-serif; }

a img, fieldset { border: none; }

.l { width: 100%; display: inline-block; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }

html ::-moz-scrollbar { width: 8px; margin-right: 10px; }
html ::-webkit-scrollbar { width: 8px; margin-right: 10px; }
html ::scrollbar { width: 8px; margin-right: 10px; }
html ::-moz-scrollbar-track { -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; background: #ececec; -webkit-box-shadow: inset 0 0 3px rgba(44, 44, 44, 0.2), inset 0 0 0 1px #d5d5d5; -moz-box-shadow: inset 0 0 3px rgba(44, 44, 44, 0.2), inset 0 0 0 1px #d5d5d5; box-shadow: inset 0 0 3px rgba(44, 44, 44, 0.2), inset 0 0 0 1px #d5d5d5; }
html ::-webkit-scrollbar-track { -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; background: #ececec; -webkit-box-shadow: inset 0 0 3px rgba(44, 44, 44, 0.2), inset 0 0 0 1px #d5d5d5; -moz-box-shadow: inset 0 0 3px rgba(44, 44, 44, 0.2), inset 0 0 0 1px #d5d5d5; box-shadow: inset 0 0 3px rgba(44, 44, 44, 0.2), inset 0 0 0 1px #d5d5d5; }
html ::scrollbar-track { -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; background: #ececec; -webkit-box-shadow: inset 0 0 3px rgba(44, 44, 44, 0.2), inset 0 0 0 1px #d5d5d5; -moz-box-shadow: inset 0 0 3px rgba(44, 44, 44, 0.2), inset 0 0 0 1px #d5d5d5; box-shadow: inset 0 0 3px rgba(44, 44, 44, 0.2), inset 0 0 0 1px #d5d5d5; }
html ::-moz-scrollbar-thumb { width: 8px; border: 1px solid #2694bf; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; background: #2babdb; }
html ::-webkit-scrollbar-thumb { width: 8px; border: 1px solid #2694bf; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; background: #2babdb; }
html ::scrollbar-thumb { width: 8px; border: 1px solid #2694bf; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; background: #2babdb; }

body { color: #5c5c5c; }

html { height: 100%; }

.is-popup { background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dcdcdc)); background-image: -webkit-linear-gradient(#ffffff, #dcdcdc); background-image: -moz-linear-gradient(#ffffff, #dcdcdc); background-image: -o-linear-gradient(#ffffff, #dcdcdc); background-image: linear-gradient(#ffffff, #dcdcdc); }

.tabwindow .tabwindow__in { padding: 20px; }
.tabwindow .tabwindow__content { background: white; -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); padding: 35px 20px; position: relative; }

.tabs { float: left; list-style: none; display: inline-block; vertical-align: bottom; position: relative; }
.tabs li { float: left; margin-right: 15px; }
.tabs a { float: left; height: 32px; line-height: 32px; padding: 0 17px; font-weight: bold; background: #b0d0da; font-size: 13px; color: #86a3ad; font-size: 14px; text-decoration: none; text-shadow: 0 1px 0 #d2e2e8; -webkit-border-radius: 8px 8px 0 0; -moz-border-radius: 8px 8px 0 0; -ms-border-radius: 8px 8px 0 0; -o-border-radius: 8px 8px 0 0; border-radius: 8px 8px 0 0; -webkit-transition: all 0.1s ease-in-out; -moz-transition: all 0.1s ease-in-out; -o-transition: all 0.1s ease-in-out; transition: all 0.1s ease-in-out; -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.3); box-shadow: 0 0 7px rgba(0, 0, 0, 0.3); }
.tabs a:hover { color: #333333; }
.tabs a.is-active { background: white; color: #5e5e5e; z-index: 100; position: relative; }
.tabs a.is-active:before { position: absolute; content: " "; width: 100%; height: 10px; background: white; bottom: -10px; left: 0; }

.tabwindow__state { float: right; color: #6a6969; font-size: 18px; font-weight: bold; }

.button { display: inline-block; border-radius: 2px; height: 28px; position: relative; overflow: hidden; padding: 0 23px; color: #838383; font: bold 13px/28px Tahoma, Arial, sans-serif; font-weight: bold; background: #e8e8e8; text-shadow: 0 1px 0 #fafafa; cursor: pointer; border: 0; }
.button.button_blue { background: #15acd9; color: white; text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4); }
.button:hover { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95); opacity: 0.95; }
.button:focus { outline: none; }
.button:active { position: relative; top: 1px; }
.button.button_big { height: 32px; font: bold 14px/32px Tahoma, Arial, sans-serif; }

.actions { margin-top: 45px; text-align: right; }
.actions > * { margin-left: 15px; }

.group { margin-bottom: 30px; }
.group .group__title { position: relative; left: -20px; font-size: 0; margin-bottom: 13px; }
.group .group__title .customcheckbox { margin: 2px 5px 0 0; }
.group .group__title h2 { display: inline-block; width: 186px; padding-left: 20px; background: #a3c1cb; font-weight: bold; height: 22px; line-height: 22px; color: white; text-transform: uppercase; text-shadow: 0 1px 1px #87a9b6; font-size: 12px; letter-spacing: 0.5px; margin-right: 4px; vertical-align: top; }
.group .group__title .group__add { background: url('../img/icons-s4efdc03548.png') 0 -41px no-repeat; width: 26px; height: 22px; vertical-align: top; cursor: pointer; display: inline-block; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

.group_text .table tbody td { text-align: left; color: #5c5c5c; padding: 7px 10px; font-size: 12px; }
.group_text .table tbody td strong { display: inline-block; margin-right: 25px; }
.group_text .table tbody td a { font-size: 12px; color: #2cabdc; font-weight: bold; text-decoration: none; }
.group_text .table .icon-delete { margin: 0 auto; display: block; }

.table { border-spacing: 0; border-collapse: collapse; width: 100%; }
.table td, .table th { border: 1px solid #d5d5d5; text-align: center; vertical-align: middle; }
.table th { padding: 7px 0; background: #d5d5d5; border-color: white; text-align: center; font-weight: normal; color: #666666; font-size: 12px; min-height: 40px; border-bottom-style: none; }
.table th:first-child { border-left: none; border-top-left-radius: 4px; }
.table th:last-child { border-right-color: #d5d5d5; }
.table td { padding: 4px; }
.table td:first-child, .table td:last-child { padding-top: 6px; }
.table tbody tr:nth-child(2n) { background: #f0f0f0; }

.customcheckbox { position: relative; display: inline-block; }
.customcheckbox input { position: relative; width: 17px; height: 17px; opacity: 0; z-index: 2; }
.customcheckbox input:checked + i:before { display: block; }
.customcheckbox i { position: absolute; top: 0; left: 0; width: 16px; height: 16px; border: 1px solid #d5d5d5; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; background: white; -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.07); -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.07); box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.07); }
.customcheckbox i:before { display: none; content: ""; position: absolute; top: 2px; left: 3px; background: url('../img/icons-s4efdc03548.png') 0 -226px no-repeat; width: 12px; height: 12px; }

.icon-delete { background: url('../img/icons-s4efdc03548.png') 0 -199px no-repeat; width: 17px; height: 17px; cursor: pointer; display: inline-block; }

.chosen-container-multi:after { content: ""; position: absolute; top: 8px; right: 10px; background: url('../img/icons-s4efdc03548.png') 0 -269px no-repeat; width: 8px; height: 17px; }

.chosen-container-active:after { background: url('../img/icons-s4efdc03548.png') 0 -296px no-repeat; width: 8px; height: 17px; }

.input { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 5px; width: 100%; height: 32px; border: 1px solid #d5d5d5; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; font-size: 12px; background: white; -webkit-box-shadow: inset 0 1px 1px rgba(0, 1, 1, 0.05); -moz-box-shadow: inset 0 1px 1px rgba(0, 1, 1, 0.05); box-shadow: inset 0 1px 1px rgba(0, 1, 1, 0.05); }
.input:focus { border: 1px solid #aacdda; background: #bfe5f3; outline: none; }

.input_textarea { resize: vertical; height: 62px; max-height: 120px; }

.input_gray { background: #f6f6f6; }

.chosen-container { display: block; width: 100% !important; }

.table .input-wrap { margin-bottom: 0; }
.table .input-wrap .icon { position: absolute; top: 50%; right: 9px; left: auto; }
.table .input-wrap .icon_glass { margin-top: -7px; }
.table .input-wrap .input:focus + i { background: url('../img/icons-s4efdc03548.png') 0 -101px no-repeat; width: 15px; height: 15px; }

.icon_glass { background: url('../img/icons-s4efdc03548.png') 0 -126px no-repeat; width: 15px; height: 15px; }

.col { float: left; width: 33.3%; padding-right: 4%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.col:last-child { padding-right: 0; }
.col .group { margin-bottom: 28px; }
.col .group.is-inactive-group .row { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); opacity: 0.5; }
.col .group .group__title h2 { width: 100%; }

.row { margin-bottom: 4px; font-size: 0; }
.row .button { margin-top: 17px; }
.row .actions { margin-top: 35px; text-align: left; }
.row .actions .button:first-child { margin-left: 0; }

.row__title { display: inline-block; margin-bottom: 10px; width: 33%; margin-left: 16.5%; text-align: center; color: #b0b0b0; font-weight: bold; font-size: 12px; }

.row__text, .row__main { display: inline-block; vertical-align: middle; }

.row__text { width: 20%; padding-right: 5px; font-size: 12px; text-align: right; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.row__add-text { display: inline-block; font-size: 12px; margin-left: 6px; }

.row__main { width: 80%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.row__main .input_s { width: 40%; display: inline-block; text-align: right; }
.row__main .input_to-right { float: right; }

.icon_refresh { display: inline-block; vertical-align: middle; background: url('../img/icons-s4efdc03548.png') 0 -73px no-repeat; width: 19px; height: 18px; margin-right: 10px; }

.badge-label { display: inline-block; margin-right: 5px; padding: 0 8px; font-size: 12px; color: #5c5c5c; height: 24px; line-height: 24px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; background: #e3e3e3; }

.popup { margin: 20px auto; padding: 23px 20px 40px; width: 316px; border: 1px solid lightgrey; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; background: #e9e9e9; -webkit-box-shadow: 0 10px 20px rgba(0, 1, 1, 0.28); -moz-box-shadow: 0 10px 20px rgba(0, 1, 1, 0.28); box-shadow: 0 10px 20px rgba(0, 1, 1, 0.28); }

.popup__logo { margin: 0 auto 45px; background: url('../img/icons-s4efdc03548.png') 0 0 no-repeat; width: 167px; height: 31px; }

.login-form .input_simple { padding-left: 40px; }
.login-form .chosen-container-single { width: 73px !important; }
.login-form .chosen-container-single .chosen-single { background: none; border: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; font-size: 12px; }
.login-form .chosen-container-single .chosen-drop { top: 25px; padding: 0; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; }
.login-form .chosen-container-single .chosen-drop .chosen-results { padding: 0; margin: 0; }
.login-form .chosen-container-single .chosen-drop .active-result { margin: 0; font-size: 12px; }
.login-form .chosen-container-single .chosen-drop .active-result:first-child { -webkit-border-radius: 3px 3px 0 0; -moz-border-radius: 3px 3px 0 0; -ms-border-radius: 3px 3px 0 0; -o-border-radius: 3px 3px 0 0; border-radius: 3px 3px 0 0; }
.login-form .chosen-container-single .chosen-drop .active-result:last-child { -webkit-border-radius: 0 0 3px 3px; -moz-border-radius: 0 0 3px 3px; -ms-border-radius: 0 0 3px 3px; -o-border-radius: 0 0 3px 3px; border-radius: 0 0 3px 3px; }
.login-form .button { margin-top: 27px; width: 100%; }

.input-wrap { position: relative; margin-bottom: 8px; }
.input-wrap .icon { position: absolute; left: 11px; top: 9px; }

.icon_user { background: url('../img/icons-s4efdc03548.png') 0 -175px no-repeat; width: 14px; height: 14px; }

.icon_pass { background: url('../img/icons-s4efdc03548.png') 0 -151px no-repeat; width: 16px; height: 14px; }

.input_simple { font-size: 14px; color: #505050; }
.input_simple:focus { background: white; border: 1px solid #2babdb; -webkit-box-shadow: 0 0 5px rgba(44, 171, 220, 0.4), inset 0 1px 1px rgba(0, 1, 1, 0.05); -moz-box-shadow: 0 0 5px rgba(44, 171, 220, 0.4), inset 0 1px 1px rgba(0, 1, 1, 0.05); box-shadow: 0 0 5px rgba(44, 171, 220, 0.4), inset 0 1px 1px rgba(0, 1, 1, 0.05); }
