html
	+scrollbar
		width: 8px
		margin-right: 10px
	+scrollbar-track
		+border-radius(5px)
		background: #ececec
		+box-shadow(inset 0 0 3px rgba(44,44,44,.2), inset 0 0 0 1px #d5d5d5)
	+scrollbar-thumb
		width: 8px
		border: 1px solid #2694bf
		+border-radius(5px)
		background: #2babdb
body
	color: #5c5c5c 
	// +scrollbar-track-piece 
	// 	background: #e1e1e1

html
	height: 100% 
.is-popup
	+background-image(linear-gradient(#fff, #DCDCDC))
.tabwindow
	.tabwindow__in
		padding: 20px 
	.tabwindow__content
		background: #ffffff 
		+box-shadow(0 0 10px rgba(#000, .2))
		padding: 35px 20px 
		position: relative
.tabwindow__nav
	@extend %clr
.tabs
	float: left
	list-style: none
	display: inline-block
	vertical-align: bottom 
	position: relative
	li
		float: left
		margin-right: 15px 
	a
		float: left
		height: 32px 
		line-height: 32px
		padding: 0 17px
		font-weight: bold 
		background: #B0D0DA
		font-size: 13px  
		color: #86A3AD
		font-size: 14px
		text-decoration: none
		text-shadow: 0 1px 0 #D2E2E8
		+border-radius(8px 8px 0 0) 
		+transition(all .1s ease-in-out)
		+box-shadow(0 0 7px rgba(#000, .3))
		&:hover
			color: #333 
		&.is-active
			background: #fff
			color: #5E5E5E   
			z-index: 100
			position: relative
			&:before
				position: absolute
				content: ' '
				width: 100%
				height: 10px  
				background: #fff
				bottom: -10px  
				left: 0 
.tabwindow__state
	float: right
	color: #6a6969
	font-size: 18px
	font-weight: bold 
.button
	display: inline-block
	border-radius: 2px
	height: 28px
	position: relative
	overflow: hidden
	padding: 0 23px
	color: #838383 
	font: bold 13px/28px Tahoma,Arial,sans-serif
	font-weight: bold
	background: #E8E8E8
	text-shadow: 0 1px 0 #FAFAFA 
	cursor: pointer
	border: 0
	&.button_blue
		background: #15ACD9
		color: #fff
		text-shadow: 0 1px 2px rgba(#000, .4)   
	&:hover
		+opacity(.95)
	&:focus
		outline: none
	&:active
		position: relative
		top: 1px 
	&.button_big
		height: 32px
		font: bold 14px/32px Tahoma,Arial,sans-serif

.actions
	margin-top: 45px 
	text-align: right
	&>*
		margin-left: 15px 
.group
	margin-bottom: 30px 
	.group__title
		position: relative
		left: -20px 
		font-size: 0 
		margin-bottom: 13px 
		.customcheckbox
			margin: 2px 5px 0 0 
		h2
			display: inline-block
			width: 186px 
			padding-left: 20px 
			background: #A3C1CB
			font-weight: bold
			height: 22px  
			line-height: 22px
			color: #fff  
			text-transform: uppercase
			text-shadow: 0 1px 1px #87A9B6
			font-size: 12px  
			letter-spacing: .5px
			margin-right: 4px 
			vertical-align: top
		.group__add
			+s(trunkadd)
			vertical-align: top
			cursor: pointer
			display: inline-block
			+unselectable
.group_text
	.table
		tbody
			td
				text-align: left
				color: #5c5c5c 
				padding: 7px 10px 
				font-size: 12px
				strong
					display: inline-block
					margin-right: 25px
				a
					font-size: 12px
					color: #2cabdc
					font-weight: bold
					text-decoration: none 
					
		.icon-delete
			margin: 0 auto
			display: block 
.table
	border-spacing: 0
	border-collapse: collapse
	width: 100%
	td, th
		border: 1px solid #D5D5D5 
		text-align: center
		vertical-align: middle
	th
		padding: 7px 0
		background: #D5D5D5
		border-color: #fff
		text-align: center
		font-weight: normal    
		color: #666666
		font-size: 12px  
		min-height: 40px 
		border-bottom-style: none
		&:first-child
			border-left: none 
			border-top-left-radius: 4px
		&:last-child
			border-right-color: #D5D5D5 
	td
		padding: 4px 
		&:first-child,&:last-child
			padding-top: 6px 
	tbody
		tr
			&:nth-child(2n)
				background: #f0f0f0 
	
.customcheckbox
	position: relative
	display: inline-block
	input  
		position: relative
		width: 17px
		height: 17px
		opacity: 0
		z-index: 2
		&:checked
			+ i
				&:before
					display: block
	i
		position: absolute
		top: 0
		left: 0
		width: 16px
		height: 16px
		border: 1px solid #d5d5d5
		+border-radius(4px)
		background: #fff
		+box-shadow(inset 0 1px 3px rgba(0,0,0,.07))
		&:before
			display: none 
			content: ""
			position: absolute
			top: 2px
			left: 3px
			+s(check) 

.icon-delete
	+s(delete)
	cursor: pointer
	display: inline-block
	

.chosen-container-multi
	&:after
		content: ""
		position: absolute
		top: 8px
		right: 10px
		+s(arr1)  
.chosen-container-active
	&:after
		+s(arr2)

.input
	+box-sizing(border-box)
	padding: 5px
	width: 100%
	height: 32px
	border: 1px solid #d5d5d5
	+border-radius(3px)
	font-size: 12px 
	background: #fff
	+box-shadow(inset 0 1px 1px rgba(0,1,1,.05))
	&:focus
		border: 1px solid #aacdda
		background: #bfe5f3
		outline: none  
.input_textarea
	resize: vertical
	height: 62px
	max-height: 120px
.input_gray
	background: #f6f6f6 
.chosen-container
	display: block
	width: 100% !important

.table
	.input-wrap
		margin-bottom: 0
		.icon
			position: absolute
			top: 50%
			right: 9px
			left: auto
		.icon_glass
			margin-top: -7px
		.input
			&:focus
				+ i
					+s(glass-h)
.icon_glass
	+s(glass)

.wrap
	@extend %clr
.col
	float: left
	width: 33.3%
	padding-right: 4%
	+box-sizing(border-box)
	&:last-child
		padding-right: 0
	.group
		margin-bottom: 28px
		&.is-inactive-group
			.row
				+opacity(.5)
		.group__title 
			h2
				width: 100%
.row
	margin-bottom: 4px
	font-size: 0
	.button
		margin-top: 17px
	.actions
		margin-top: 35px
		text-align: left
		.button
			&:first-child
				margin-left: 0
.row__title
	display: inline-block
	margin-bottom: 10px
	width: 33%
	margin-left: 16.5%
	text-align: center
	color: #b0b0b0
	font-weight: bold
	font-size: 12px  
.row__text,
.row__main
	display: inline-block
	vertical-align: middle
.row__text
	width: 20%
	padding-right: 5px
	font-size: 12px
	text-align: right
	+box-sizing(border-box)
.row__add-text
	display: inline-block
	font-size: 12px
	margin-left: 6px
.row__main
	width: 80%
	@extend %clr
	+box-sizing(border-box)
	.input_s
		width: 40%
		display: inline-block
		text-align: right
	.input_to-right
		float: right

.icon_refresh
	display: inline-block
	vertical-align: middle
	+s(refresh)
	margin-right: 10px
	

.badge-label
	display: inline-block
	margin-right: 5px
	padding: 0 8px 
	font-size: 12px
	color: #5c5c5c
	height: 24px
	line-height: 24px
	+border-radius(2px)
	background: #e3e3e3
 