.row_extend
	.row__main
		font-size: 0
		padding-right: 0
	.radio-row_inine
		margin-right: -30px
.row__main-col
	position: relative
	display: inline-block
	vertical-align: middle
	width: 47%	
	padding-right: 30px
	+box-sizing(border-box)
	+r(step1)
		width: 46%
.row-separator
	display: inline-block
	margin: 0 7px
	vertical-align: middle
	width: 7px
	height: 2px
	background: #8C8C8C 
.radio-row_inine
	display: inline-block
	vertical-align: middle
	margin-bottom: 0 
.row__main-col_radio
	padding-right: 0
	text-align: center
.row_no-title
	.row__main
		width: 100%
		padding-right: 0
		
.button-wrap
	position: relative
	display: inline-block
.action
	.button-wrap
		.button
			margin-top: 0
			
.table-head_invoices
	.btns-wrap
		top: 22px
	tr
		&:first-child
			td
				border-bottom-color: transparent
	.td-height 
		//padding: 0 
		div
			//padding: 0 2px 
			left: 0
			right: 0
			top: 12px
			z-index: 2
			background: #e7e7e7
	.td-rotate
		.is-rotate
			top: 30px
			
.btn-download
	+s(download)
.btn-list2
	+s(list2)
.icon_arr-red
	+s(arr-red)
.icon_arr-green
	+s(arr-green)

.table_invoices
	.to-right
		strong
			float: left   