// default layout
.l
	width: 100%
	display: inline-block
	.l-col1
		float: left
		width: 20%
	.l-col2
		float: right
		width: 70%
		
.l-col3
	float: left
	padding-left: 1% 
	width: 33%
	+box-sizing(border-box) 
	&:first-child
		padding-left: 0