// default layout
.l
	width: 100%
	display: inline-block
	.l-col1
		float: left
		width: 20%
	.l-col2
		float: right
		width: 70%
.l-col-60
	float: left
	width: 60%
.l-col-40
	float: left
	width: 40%
.l-col3
	float: left
	padding-left: 1% 
	width: 33%
	+box-sizing(border-box) 
	min-height: 1px
	&:first-child
		padding-left: 0
.l-col2
	float: left
	width: 50%
	padding-left: 1% 
	+box-sizing(border-box) 
	&:first-child
		padding-left: 0
.l-col3_small
	width: 20%
.l-col3_width
	width: 46%
.l-col4
	float: left
	padding-left: 1% 
	width: 25%
	+box-sizing(border-box) 
	&:first-child
		padding-left: 0            

.l-col-equal
	width: 50%
	float: left
	+box-sizing(border-box)  

$grid-columns: 39,47,52,61,65,66,70,94,100,120,123,139,150,151,166,190,270,292,420,780
@each $i in $grid-columns
	.width-#{$i}
		width: #{$i}px 
.to-center
	text-align: center
.to-right
	text-align: right
.width-61
	.chosen-container
		min-width: 60px !important
		.chosen-single 
			span
				margin-right: 0
			&:after
				display: none 