.filter_307
	.filter__in
		height: 307px
		
.table-head_very-simple
	.btns-wrap
		top: 2px
	.td-rotate
		.is-rotate
			top: 20px
	tr
		&:first-child
			td
				border-bottom-color: transparent
	.td-height 
		//padding: 0 
		div
			//padding: 0 2px 
			left: 0
			right: 0
			top: 12px
			z-index: 2
			background: #e7e7e7