.filter_307
	.filter__in
		height: 307px
		
.table-head_very-simple
	.btns-wrap
		top: 2px
	.td-rotate
		.is-rotate
			top: 20px
	tr
		&:first-child
			td
				border-bottom-color: transparent
	.td-height 
		//padding: 0 
		div
			//padding: 0 2px 
			left: 0
			right: 0
			top: 12px
			z-index: 2
			background: #e7e7e7
			
.actions-wrap
	.button_expand
		float: left
		margin-right: 5%
		i
			display: inline-block
			+s(arr4)
	.actions_fluid
		overflow: hidden
		margin-top: 0 !important
		width: auto !important
		
.tabwindow_extend
	.tabwindow__content
		padding: 35px 0 30px
	.l-container,
	.actions
		width: 96%
	.actions
		margin: 47px auto 0
	
body
	&.is-fixed-table 
		.tabwindow_extend
			.filter__in
				left: 20px
				right: 20px
.group_width
	margin-bottom: 0
	.group__title
		left: 0
		margin-bottom: 0
		h2
			display: block
			width: 100%
			+box-sizing(border-box)

.table_input
	td
		padding: 4px 
	tr
		&:last-child
			td
				border-bottom: 1px solid #e7e7e7
.td-input-small
	width: 35px
	
.row_inline-items
	margin-bottom: 10px
	.chosen-select_small,
	.chosen-container
		width: 100px !important
	.input,
	.chosen-select_small,
	.chosen-container,
	span
		display: inline-block
		vertical-align: middle
	.input
		width: 190px
		margin: 0 0 0 10px
	.input_s
		width: 75px
		margin: 0 10px
	span
		font-size: 12px
	.button_auto
		width: auto

.tooltip_419
	width: 419px
	padding-right: 30px
.input-wrap_right-glass
	.icon_glass
		right: 12px
		left: auto
	.input
		padding-right: 30px
		
.expand
	display: none
	position: absolute
	right: 0
	top: 181px
	z-index: 1000
	padding: 25px 25px 25px 10px
	width: 600px
	border-radius: 0 0 2px 2px
	background-color: #e3e3e3
	+box-sizing(border-box)
	+clr
	box-shadow: 0 8px 9px rgba(0,0,0,.1)
	.row__text
		width: 30%
		margin-left: 0
	.row__main
		width: 70%
		padding-right: 0
		.ui-multiselect
			width: 87% !important
	.input_s
		width: 62px
		margin: 0
	span
		margin-left: 10px
.expand__col
	float: left
	width: 50%
.is-fixed-table
	.expand
		top: 124px
		

// export page
.export-param
	padding-left: 20px
	font-size: 12px
	li
		margin-bottom: 10px
.rate-export-content
	.row
		margin-bottom: 10px
	.row_radio
		.row__text
			.radio-simple
				margin-left: 30px
.row_height
	> .row__text,
	> .row__main
		vertical-align: top
.row
	&.is-inactive-row
		.row__text,
		.row__main
			opacity: .7
			
.row_aligh-top
	.row__text,
	.row__main
		vertical-align: top
.select-group
	float: right
	padding: 30px 0 25px 25px 
	width: 540px
	background: #e8e8e8 
	+clr
	+box-sizing(border-box)
.select-group__title
	margin-bottom: 28px
	font-weight: bold
	font-size: 12px
.chosen-select-row
	margin-bottom: 10px
	.chosen-select,
	.chosen-container
		display: inline-block
		vertical-align: middle
	.chosen-container
		width: 220px !important

.date-format-opt
	float: left
	margin-right: 20px
	width: 400px
	+box-sizing(border-box)
	.group__title
		left: 0
	.row__text
		width: 31%
	.row__main
		width: 69%
.tabwindow_no-padding 
	.tabwindow__content
		padding: 35px 0
.tabwindow_fixed-width
	.tabwindow__in
		max-width: 1000px
		+box-sizing(border-box)
.actions
	clear: both
.group_no-left
	.group__title
		left: 0
.row_500
	width: 500px 
	padding-left: 40px
	.ui-multiselect
		width: 290px !important	
		max-width: 290px !important	
.table-simple
	.to-center
		text-align: center
	.to-left
		text-align: left
	.to-right
		text-align: right	
	.is-green
		color: #438420 !important
	.is-red
		color: #900 !important
	.is-gray
		color: #a9a9a9 !important
	&.is-hoverable
		tr
			&:hover
				td
					background: #cfecf7 
			&.is-clicked
				background: #ffefe5
				&:nth-child(2n)
					background: #f8e8de 
		td			
			&[data-href]
				&:hover
					cursor: pointer
					background: #9ed8ef 
.l-container_width
	width: 96%