body    
    font-size: 12px
    color: #5c5c5c 
    &.is-fixed-table
        .trans-body
            margin-top: 361px
        .trans-head-wrap
            position: fixed
            left: 5%
            right: 5%
            top: 277px
            min-width: 980px
            +r(1650)
                left: 1%
                right: 1%
        .filter__in
            position: fixed
            left: 0
            top: 0
            right: 0
.header
    
.header__top
    overflow: hidden
    padding: 15px 0 24px 
    +background-image(linear-gradient(bottom, #fff 0%, #fbfbfb 100%))
.header__info
    float: right
    span
        position: relative
        padding-left: 10px
        margin-left: 10px
        display: inline-block
        &:first-child
            padding-left: 0
            margin-left: 0
            &:before
                display: none
        &:before
            content: ""
            position: absolute
            left: 0
            top: 2px
            height: 14px
            width: 1px
            background: #c7c7c7  
.header__user
    float: right
    span
        display: inline-block
        position: relative
        padding-right: 10px
        margin-right: 10px
        &:before
            content: ""
            position: absolute
            right: 0
            top: 2px
            height: 14px
            width: 1px
            background: #c7c7c7  
    a
        color: #5b5b5b
        font-weight: bold
        font-size: 12px
        text-decoration: none 
        &:hover
            color: #2cabdc 
.l-container
    width: 90%
    margin: 0 auto 
    +r(1650)
        width: 98%
.nav-wrap
    background: #84b6c9
    height: 52px
    line-height: 52px 
.nav
    overflow: hidden
    float: left
    li
        float: left
        &:first-child
            a
                border-left: 2px solid #fff
    .is-active
        a
            background: #2aa6da 
    a
        display: block
        padding: 0 20px 
        color: #fff
        border-right: 2px solid #fff
        font-size: 13px
        font-weight: bold
        text-decoration: none
        text-shadow: 0 1px 0 rgba(132,182,201,.4)
        +transition(background .2s linear)
        &:hover
            background: #2aa6da 

.nav-info
    float: right
    li
        float: left
        margin-left: 20px
        .icon
            margin-right: 10px
        .icon,
        span
            display: inline-block
            vertical-align: middle
        @for $i from 1 through 4
            .icon_nav#{$i} 
                +s(icon#{$i})
    a
        font-size: 12px
        text-decoration: none
        color: #5c5c5c 
        
.trans-head-wrap
.trans-head
    width: 100% 
    border-spacing: 0
    border-collapse: collapse
    background: #e7e7e7 
    div
        position: relative
        height: 20px
    tr
        &:first-child
            td
                //border-top: 0
                &:first-child
                    //width: 30px
        // &:last-child
        //     td
        //         //padding: 0
        //         &:hover
        //             background: #c5c5c5 
    td
        font-size: 13px
        font-weight: normal
        vertical-align: middle
        text-align: center
        border-left: 1px solid #fff
        border-top: 1px solid #fff 
        padding: 2px 3px
        +r(1650)
            font-size: 11px
    .is-rotate
        display: block
        +rotate(-90)
    .td-6,
    .td-7,
    .td-8,
    .td-9,
    .td-10
        padding-bottom: 40px
        +r(1650)
            //padding-bottom: 60px
    .btns-wrap
        position: absolute
        bottom: 0
        left: 0
        top: 30px
        height: 22px
        width: 100%
    .td-6,
    .td-9,
    .td-10
        .btns-wrap
            top: 39px
.trans-body
    width: 100% 
    border-spacing: 0
    border-collapse: collapse
    //table-layout: fixed
    tr
        +transition(background .2s linear)
        &:nth-child(2n)
            background: #f7f7f7
        &:hover
            background: #cfe8f0 
        &.is-clicked
            background: #ffefe5
            &:nth-child(2n)
                background: #f8e8de 
    td
        text-align: center
        padding: 2px 3px
        vertical-align: middle
        border-left: 1px solid #e7e7e7 
        +transition(background .2s linear)
        &:nth-child(2)
            color: #5f889d 
        &.is-green
            color: #438420 
        &.is-red
            color: #900 
        &.is-gray
            color: #a9a9a9 
        &:hover
            background: #9ed6ea 
    .td-icon
        width: 42px
        padding: 0
.btns-wrap
    overflow: hidden
.btn-sort
    float: left
    width: 50%
    text-align: center
    background: #e7e7e7
    height: 21px
    +box-sizing(border-box)
    border-left: 1px solid #fff
    border-top: 1px solid #fff
    &:first-child
        border-left: 0
    &:hover
        background: #c5c5c5
    i
        display: inline-block
        margin-top: -2px
        vertical-align: middle
        width: 0px
        height: 0px
        border-style: solid
.btn-sort_top
    &:hover
        i
            border-color: transparent transparent #888 transparent
    i
        border-width: 0 4px 6px 4px
        border-color: transparent transparent #cfcfcf transparent
.btn-sort_down
    &:hover
        i
            border-color: #888 transparent transparent transparent
    i
        border-width: 6px 4px 0 4px
        border-color: #cfcfcf transparent transparent transparent
.btn-edit
    +s(edit)
.btn-routing
    +s(routing)
.btn-block 
    +s(block)
.btn-rates
    +s(rates)
.btn-rates
    +s(rates)
.btn-dollar
    +s(dollar)
.btn-list
    +s(list)
.btn-traffic
    +s(traffic)


.filter
    .row
        margin-bottom: 18px
    .row__text
        width: 25%
    .row__main
        width: 75%
    .ui-multiselect
        width: 100% !important
        max-width: 100%
        min-height: 30px
    .actions
        margin-top: 0
    .trans-title
        position: absolute
        bottom: -32px
        padding: 0 30px 
        height: 32px
        line-height: 32px
        color: #6a6868
        font-size: 12px
        font-weight: bold
        text-decoration: none
        text-shadow: 0 1px 0 rgba(255,255,255,.8)
        background: #e3e3e3
        border-radius: 0 0 7px 7px
.filter__in
    height: 277px
    background: #fff 
.filter__top
    padding: 42px 0 24px
    position: relative
    +background-image(linear-gradient(top, #f5f5f5 0%, #e3e3e3 100%))  
.filter__bottom
    padding: 32px 0 0
    @extend %clr
    .action
        float: left
    .button
        margin-top: 32px

.pagin
    float: right
    @extend %clr
    .chosen-container
        min-width: 100% !important 
.pagin__select,
.pagin__nav,
.pagin__select-text,
.pagin__select-main
    display: inline-block
    vertical-align: middle
.pagin__select
    margin-right: 46px
.pagin__select-main
    width: 60px
    margin-left: 20px
.pagin__nav
    width: 220px